@font-face {
    font-family: 'Pixelate';
    src: url(fonts/pixelate.otf);
}

body{
    font-family: "Pixelate", serif;
}

.game {
    width: 600px;
    height: 200px;
    border-bottom: 1px solid #000;
    margin: auto;
}

#dino {
    width: 50px;
    height: 50px;
    background-image: url(img/dinosaur.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
}

#cactus {
    width: 20px;
    height: 40px;
    background-image: url(img/cactus.png);
    background-size: 20px 40px;
    position: relative;
    top: 110px;
    left: 580px;
}

.cactus-move {
    animation: cactusMove 1s infinite linear;
}

@keyframes cactusMove {
    0% {
        left: 580px;
    }
    100% {
        left: -20px;
    }
}

.jump {
    animation: cactusJump 0.3s linear;
}

@keyframes cactusJump {
    0% {
        top: 150px;
    }
    30% {
        top: 130px
    }
    50% {
        top: 80px;
    }
    80%{
        top: 130px;
    }
    100% {
        top: 150px;
    }
}

#restart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#restart-btn {
    width: 50px;
    height: 50px;
    background-image: url(img/reload_page.png);
    background-size: cover;
    border: 0;
    background-color: transparent;
}

#restart > h1 {
    margin: 0;
}

.darkened {
    opacity: 30%;
}

.hidden {
    opacity: 0;
}